.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    .popup__container{
        display: flex;
        flex-direction: column;
        max-width: 430px;
        min-width: 320px;
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;

        .popup__title{
            font-size: 24px;
            font-weight: 900;
            line-height: 30px;
            margin: 34px auto 36px;
        }

        .popup__save-btn{
            max-width: 258px;
            height: 50px;
            background-color: var(--pink);;
            margin-bottom: 10px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            border-radius: 2px;
            border: none;
            width: 100%;

            &:hover{
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}

.popup_opened{
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}