.payments-admin{
    display: flex;

    .payments-admin__container{
        flex: 6;

        .payments-admin__container-charts{
            display: flex;
            padding: 20px;

            .payments-admin__container-chart{
                gap: 20px;
                display: flex;
                flex-direction: column;
                flex: 4;
                margin-right: 20px;
            }

            .payments-admin__container-summary{
                gap: 20px;
                display: flex;
                flex-direction: column;
                flex: 2;
            }
        }
    }
}