.cards {
    display: flex;
    gap: 10px;

  .cards__container{
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .cards{
    flex-direction: column;
  }
  .cards__container{
    height: 9rem;
  }
}

@media (max-width: 768px){
  .cards{
    width: 90%;
  }
}

  
  